# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out/
jar/
tex/
img/
gen
res/colladaFiles/
Demonstrator/
Screenshots/
blend/

!/tex/Game Concept.pdf
!/.idea/artifacts/Project_Build.xml
